In [21]:
import matplotlib.pyplot as plt
import matplotlib
%matplotlib qt5
import pandas as pd
import numpy as np
plt.style.use("seaborn")

In [22]:
h = ["n", "t", "tt", "lmbd", "lambda * block_length", "f", "x", "y", "z"]
data = pd.read_csv("test.csv", names=h)

In [23]:
data

,n,t,tt,lmbd,lambda * block_length,f,x,y,z
0,20,0.000,0.000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,20,0.001,0.001,0.000005,0.000050,5.997947,0.0,0.0,0.0
2,20,0.002,0.002,0.000020,0.000200,11.995894,0.0,0.0,0.0
3,20,0.003,0.003,0.000045,0.000450,17.993841,0.0,0.0,0.0
4,20,0.004,0.004,0.000080,0.000800,23.991788,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3100,140,0.763,3.100,0.999928,9.999279,22.779436,0.0,0.0,0.0
3101,140,0.764,3.101,0.999961,9.999609,16.781489,0.0,0.0,0.0
3102,140,0.765,3.102,0.999984,9.999838,10.783542,0.0,0.0,0.0
3103,140,0.766,3.103,0.999997,9.999968,4.785595,0.0,0.0,0.0
3104,140,0.767,3.104,1.000000,10.000000,0.000000,0.0,0.0,0.0

In [24]:
n = "50"
idx = data.index[data["n"] == n]
plt.plot(data.tt[idx], data.lmbd[idx])
plt.show()

In [25]:
transition = []
for i in range(len(data.n)):
    if i>0 and data.n.iloc[i - 1] != data.n.iloc[i]:
        transition.append(data.tt[i])

In [26]:
plt.figure(figsize=(20, 6), dpi=90)
plt.plot(data.tt, data.f)
[plt.axvline(t, linestyle = '--', color="black", linewidth = 0.5) for t in transition]
plt.show()